<div class="page-box">
  <div class="row">
    <div class="sellers col-sm-6">
      <h2>Our Crafters</h2>
      <% if @users.any? %>
        <% @users.seller.each do |user| %>
        <div class="user-box">
          <%= image_tag(user.avatar(:thumb)) %>
          <h3><%= link_to user.username, user_path(user) %></h3>
          <h4><%= user.status %></h4>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="members col-sm-6">
      <h2>Our Community</h2>
      <% if @users.any? %>
        <% @users.member.each do |user| %>
        <div class="user-box">
          <%= image_tag(user.avatar(:thumb)) %>
          <h3><%= link_to user.username, user_path(user) %></h3>
          <h4><%= user.status %></h4>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr>

  <div class="admins">
    <h2>Our Administrators</h2>
    <% if @users.any? %>
      <% @users.admin.each do |user| %>
      <div class="user-box">
        <%= image_tag(user.avatar(:thumb)) %>
        <h3><%= link_to user.username, user_path(user) %></h3>
        <h4><%= user.status %></h4>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
