<!DOCTYPE html>
<html>
  <head>
    <title>Crafty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", home_index_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <% if current_user %>
          <li><%= link_to 'You', user_path(current_user.id) %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
      </ul>
    </div>
    <div class="container">

      <%= flash[:alert] %>
      <%= flash[:notice] %>

      <%= yield %>
    </div>
  </body>
</html>
